.footer {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    mix-blend-mode: difference;

    .github {
        display: none;
    }
}
