// Variables
// ==================
:root {
    --black: #0e0d0b;
    --white: #f1f2f4;
}

// Outils
// ==================
@import "tools/reset";
@import "tools/mixins";
@import "tools/typography";

// Generic
// ==================

html,
body {
    width: 100%;
    height: auto;
}

body {
    font-family: $font;
    font-size: 16px;
    color: var(--white);
    line-height: 1.5;
    background-color: var(--black);
    position: relative;
    overflow-x: hidden;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
}

.about__link {
    position: absolute;
    z-index: 10;
    padding: 20px;
    top: 20px;
    right: 20px;
    text-transform: capitalize;
}

// Modules
// ==================
@import "modules/footer";

// Pages
// ==================
@import "pages/home";
